<!DOCTYPE html>
<html>
<head>
    <title>Feature Visualization</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.4.0/ol.css">
    <style>
        /* Custom styles */
        body {
            padding: 20px;
        }

        #map {
            height: 500px;
            width: 100%;
        }

        .page-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
            margin: 0 5px;
            cursor: pointer;
        }

        .page-item.active {
            background-color: #007bff;
            color: #fff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-lg-between">
        <a class="navbar-brand" href="/features_list/">Feature List</a>
        <button class="btn btn-outline-danger float-right my-2 my-sm-0"
                onclick="logOut()">LogOut</button>

    </nav>
    <h1 class="text-center mb-4">Feature Visualization</h1>

    <div id="map"></div>

    <nav>
        <ul class="pagination justify-content-center" id="paginationContainer">
            <li class="" id="prevButtonContainer">
                <a class="btn btn-primary mx-2" href="#" id="prevButton" disabled>Previous</a>
            </li>
            <li class="" id="nextButtonContainer">
                <a class="btn btn-primary mx-2" href="#" id="nextButton" disabled>Next</a>
            </li>
        </ul>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/ol@v7.4.0/dist/ol.js"></script>
    <script>
        // Create a map with default view
        const map = new ol.Map({
            target: 'map',
            view: new ol.View({
                center: [0, 0],
                zoom: 2
            })
        });
        // Create a Vector Source to hold the features
        const vectorSource = new ol.source.Vector();

        // Create a Vector Layer with the Vector Source
        const vectorLayer = new ol.layer.Vector({
            source: vectorSource
        });

        // Add the Vector Layer to the Map
        map.addLayer(vectorLayer);

        function fetchFeatures(url) {
            let token = localStorage.access;

            if (token === null) {
                location.href = "{% url 'login-view' %}";
            }

            const headers = {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
            };

            fetch(url,
                {
                    method: 'GET',
                    headers: headers,
                }
            )
                .then(response => response.json())
                .then(jsonResponse => {
                    let data = jsonResponse.data;
                    if (data && data.results) {

                        vectorSource.clear()
                        // Process and add the features to the Vector Source
                        addFeaturesToSource(data.results);
                        // totalPages = Math.ceil(data.count / pageSize);

                        nextPageUrl = data.next;
                        prevPageUrl = data.previous;
                        updatePaginationButtons();
                    } else {
                        console.error('Invalid response format.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error.message);
                });
        }

        // Function to process and add features to the Vector Source
        function addFeaturesToSource(features) {

            const format = new ol.format.GeoJSON();
            for (const feature of features) {
                const olFeature = format.readFeature(feature.features);
                olFeature.setStyle(createFeatureStyle(feature.name, feature.color));
                vectorSource.addFeature(olFeature);
            }

            // Fit the map view to the extent of the features
            const extent = vectorSource.getExtent();
            map.getView().fit(extent, { padding: [50, 50, 50, 50] });
        }

        function createFeatureStyle(labelText, color) {
            return new ol.style.Style({
                fill: new ol.style.Fill({
                    //color: 'rgba(255, 0, 0, 0.6)'
                    color: color // Set the fill color for the feature
                }),
                stroke: new ol.style.Stroke({
                    color: '#fff',
                    width: 2
                }),
                text: new ol.style.Text({
                    text: labelText,
                    fill: new ol.style.Fill({
                        color: '#000'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#fff',
                        width: 2
                    }),
                    font: '14px Arial',
                    offsetY: -12, // Adjust the label position
                    textAlign: 'center',
                    textBaseline: 'middle'
                })
            });
        }

        // Function to update the pagination UI
        function updatePaginationButtons() {
            const prevButtonContainer = document.getElementById('prevButtonContainer');
            const nextButtonContainer = document.getElementById('nextButtonContainer');

            const prevButton = document.getElementById('prevButton');
            const nextButton = document.getElementById('nextButton');

            if (nextPageUrl) {
                nextButton.disabled = false;
                nextButton.href = '#';
                nextButton.addEventListener('click', () => {
                    fetchFeatures(nextPageUrl);
                });
                nextButtonContainer.style.display = 'block';
            } else {
                nextButton.disabled = true;
                nextButton.removeEventListener('click', () => {
                    fetchFeatures(nextPageUrl);
                });
                nextButtonContainer.style.display = 'none';
            }

            if (prevPageUrl) {
                prevButton.disabled = false;
                prevButton.href = '#';
                prevButton.addEventListener('click', () => {
                    fetchFeatures(prevPageUrl);
                });
                prevButtonContainer.style.display = 'block';
            } else {
                prevButton.disabled = true;
                prevButton.removeEventListener('click', () => {
                    fetchFeatures(prevPageUrl);
                });
                prevButtonContainer.style.display = 'none';
            }
        }

        function handleLogoutResponse(response) {
            console.log(localStorage.refresh);

            location.href = `http://${location.hostname}:${location.port}`
        }

        function logOut(){

            let token = localStorage.access;

            if (token === null) {
                location.href = "{% url 'login-view' %}";
            }

            const headers = {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
            };

            fetch('/api/logout/', {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({'refresh': localStorage.refresh}),
            })
                .then(response => response.json())
                .then(handleLogoutResponse)
                .catch(error => {
                    console.error('Error:', error);
                    alert("Login Error!")
                });
        }

        $(document).ready(function () {

            let base_url = 'http://127.0.0.1:8000/main/features/';
            fetchFeatures(base_url);
        });
    </script>
</body>
</html>
